@keyframes gradientMove {
  0% {
    background-position: -200% 0;
    background-size: 200% 100%;
  }
  50% {
    background-position: 200% 0;
    background-size: 200% 100%;
  }
  100% {
    background-position: -200% 0;
    background-size: 200% 100%;
  }
}

.animate-gradient {
  animation: gradientMove 2s ease-in-out infinite;
  background-size: 200% 100%;
}